.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  text-transform: uppercase;
  z-index: 1;
}

.auth {
  display: flex;
}

.button {
  padding: 5px 15px;
  border-radius: 20px;
  background: none;
  margin: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.button:hover {
  border: 1px solid white;
  transition: 0.3s ease-in-out;
}

.button_active {
  border: 1px solid white;
}

.links ul {
  display: flex;
}

.links ul li {
  margin: 0 10px;
}

.links ul li a {
  color: #fff;
  transition: 0.3s ease-in-out;
}

.links ul li:hover a {
  color: #bdbdbd;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 20px;
}

.logo p {
  text-transform: uppercase;
  margin: 0 20px;
  font-size: 0.9rem;
}

.hamburger {
  display: none;
  margin: 20px;
  font-size: 30px;
}

.toggle ul {
  /* display: none; */
  position: absolute;
  bottom: -200px;
  left: 20px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.753);
  border: 1px solid rgba(77, 77, 77, 0.815);
  border-radius: 10px;
  align-items: center;
  padding: 10px;
}

.toggle ul li {
  margin: 5px;
}

.toggle ul a {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.close {
  display: none;
}

.open {
  display: flex;
}

.close ul {
  display: none;
}

.open ul {
  display: flex;
}

.logoopen {
  margin: 10px;
  display: flex;
  align-items: center;
}

.logoopen svg {
  margin: 0 10px;
}

/* responsiveness */

@media (max-width: 700px) {
  .logo,
  .links {
    display: none;
  }

  .hamburger {
    display: flex;
  }
  .open ul {
    display: flex;
  }
  .close {
    display: flex;
  }
}

@media (max-width: 400px) {
  .toggle ul {
    bottom: -225px;
  }
}
