@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.bigbox {
  display: flex;
  flex-direction: column;
}
